@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color : #0a192f;
    --secondary-color : #2f2f2f;
    --background : #0a192f;
    ----accent : #ffffff;

    
}

.content-div {
    background-clip: 'border-box';
    background-repeat: 'no-repeat';
    background-position: 'right center';
    background-size: 'cover';
}

.content-div:hover {
    transition-duration: 300ms;
    background-image: linear-gradient(
        to left,
        #0f172a,
        #020617
    )!important;
}


::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background: #0a192f;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: #ffffff;
  }